<h1 class="display-4">Posted</h1>

<div class="blogsection">
    <h2>{{blogpost.title}}</h2>
    <p>{{blogpost.createdAt}}</p>
    <p>{{blogpost.content}}</p>
    <p>{{blogpost.user.username}}</p>
</div>